dist: trusty
sudo: required

os:
  - linux

python:
  - "2.7"

jdk:
  - oraclejdk8  # Building Bazel requires JDK8.

language: go
go: 1.10.x
install: true

services:
  - docker

addons:
  apt:
    sources:
      - sourceline: 'deb [arch=amd64] http://storage.googleapis.com/bazel-apt stable jdk1.8'
        key_url: 'https://bazel.build/bazel-release.pub.gpg'
    packages:
      - bazel

install:
  - wget -q https://github.com/bazelbuild/buildtools/releases/download/0.22.0/buildifier
  - chmod +x ./buildifier

script:
  # Check for issues with the format of our bazel config files.	
  - ./buildifier --mode=check  $(find . -name BUILD -o -name WORKSPACE -o -name "*.bzl" -type f)
  - ./buildifier --lint=warn $(find . -name BUILD -o -name WORKSPACE -o -name "*.bzl" -type f)
  # Test things by executing the various build configurations under testing/
  - ./testing/e2e.sh
